.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.st{
  background-color: #61dafb;
  border-radius: 10px;
 
  text-align: center; 

}
strong{

  text-align: center;
  background-color: aqua;
  color: azure;
}

.st1{
  background-color: rgb(251, 246, 246);
  margin: 0px;
}
.st1 li{
  font-size: large;
  font-style: initial;
  font-weight: bold;
  color: crimson;
  
}
.maindiv{
 }